.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-menu .left-menu {
    display: flex;
  }
  
  .header-menu .right-menu {
    display: flex;
    align-items: center;
  }
  
  .header-menu .right-menu .ant-menu-item {
    margin-left: auto;
  }

  .header-menu .ant-menu-item a:focus,
.header-menu .ant-menu-item button:focus {
  outline: none;
  box-shadow: none;
}

.header-menu .ant-menu-item a:active,
.header-menu .ant-menu-item button:active {
  outline: none;
  box-shadow: none;
}

  